<div class="row">
    <div class="col-md-6" style="margin-left: 30px;">
      <div class="input-group">
        <div class="input-group-prepend">
          <span style=" height:45px; width: 50px; background-color:#C798D8; border-radius: 20px 0px 20px 0px; " class="input-group-text">
            <i style="margin: auto;" class="fa fa-viewShop"></i>
          </span>
        </div>
        <input style="height:45px; background-color:#EED8F6; border-radius: 0px 20px 20px 20px;" type="text" id="input1-group1" name="input1-group1"
          class="form-control" placeholder="Item name / Item category">
        <!-- <button type="button" class="btn btn-block btn-primary"  (click)="doPOST()">Save</button> -->
        <!-- <a class="nav-link" href="#/addUser">Users</a> -->
  
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8  mt-4">
      <div class="mt-4">
        <h3 class="ml-8" style="font-size: 30px; margin-left: 30px;">
          <b>{{showRoomDetail.result[0].name}} - {{showRoomDetail.result[0].district_name}}</b>
          <a href="{{showRoomDetail.result[0].longitude}}" target="_blank">
          <i style="color:green" class="fa fa-map-marker fa-lg"></i>
          </a>
        </h3>
        <hr class="mt-0" style="height:3px; border-width:0; color:#e6e6e6; background-color:#e6e6e6; margin-left: 30px;">
      </div>
    </div>
  </div>
  
  <div class="row">
    <img src="{{showRoomDetail.result[0].banner_image}}" class="card-img-top" alt="..." width="100" height="300"
      style=" margin-left: 50px; margin-right: 50px; " />
    <h4 style="font-size: 25px; margin-left: 500px; margin-top: 20px;">
      <b> {{showRoomDetail.result[0].description}} </b>
    </h4>
  </div>

  <div class="row">
    <div class="col-md-8  mt-4">
      <div class="mt-4">
        <h3 class="ml-8" style="font-size: 20px; margin-left: 50px;">
          <b>Item Search</b>
        </h3>
        <!-- <hr class="mt-0" style="height:3px; border-width:0; color:#e6e6e6; background-color:#e6e6e6; margin-left: 30px;"> -->
      </div>
    </div>
  </div>
  
  <div class="animated fadeIn">
    <div class="row mt-2" style="margin-left: 30px;">
      <div class="col-sm-3">
        <div class="card" style="margin-top: 20px; background:#f5e8fa; border-radius: 10px;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">
                    <b>Location</b>
                  </label>
                  <div class="col-md-9">
                    <select id="select3" [(ngModel)]="viewShop.district_id" name="select3" class="form-control form-control-sm" ng-model="districtList"
                      (change)="doGETcityListByDistrictId()">
  
                      <option *ngFor="let i of districtList.result" value={{i.district_id}}>{{i.name}}</option>
                      <option value="0">Please select</option>
                    </select>
                  </div>
                  <div class="col-md-9 mt-2">
                    <select [(ngModel)]="viewShop.city_id" id="select3" name="select3" class="form-control form-control-sm" ng-model="cityList"
                      (change)="doPOST()">
                      <option *ngFor="let i of cityList.result" value={{i.city_id}}>{{i.name}}</option>
                      <option value="0">Please select</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Distance Range</b>
                  </label>
                  <input type="text" class="form-control" id="ccnumber" placeholder="Distance Range">
  
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Map Location</b>
                  </label>
                  <input type="text" class="form-control" id="ccnumber" placeholder="Map Location">
  
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Category</b>
                  </label>
                  <!-- <input type="text" class="form-control" id="ccnumber" placeholder="Category"> -->
                  <div class="col-md-9 mt-2">
                    <select [(ngModel)]="viewShop.category_id" id="select3" name="select3" class="form-control form-control-sm" ng-model="cityList">
                      <option *ngFor="let i of categoryList.result" value={{i.city_id}}>{{i.name}}</option>
                    </select>
                  </div>
  
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Price</b>
                  </label>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <input [(ngModel)]="viewShop.price_min" type="text" class="form-control" placeholder="Min" (keyup)="doPOST()">
                    </div>
                    <div class="col-md-6">
                      <input [(ngModel)]="viewShop.price_max" type="text" class="form-control" placeholder="Max" (keyup)="doPOST()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Date Range</b>
                  </label>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <input [(ngModel)]="viewShop.createDate_min" class="form-control" id="date-input" type="date" name="date-input" placeholder="date"
                        (change)="doPOST()">
                    </div>
                    <div class="col-md-6">
                      <input [(ngModel)]="viewShop.createDate_max" class="form-control" id="date-input" type="date" name="date-input" placeholder="date"
                        (change)="doPOST()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
          </div>
        </div>

        <div class="row">
          <!-- <div class="col-md-8  mt-4"> -->
            <!-- <div class="mt-4"> -->
              <h3 class="ml-8" style="font-size: 20px; margin-left: 30px;">
                <b>Contact Details</b>
              </h3>
              <!-- <hr class="mt-0" style="height:3px; border-width:0; color:#e6e6e6; background-color:#e6e6e6; margin-left: 30px;"> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>

        <!-- ***********************- -->
        <div class="card" style="margin-top: 20px; background:#f5e8fa; border-radius: 10px;">
          <div class="card-body">
           
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Address</b>
                  </label>
                  <input [(ngModel)]="showRoomDetail.result[0].address" type="text" class="form-control" placeholder="Address" >
  
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Mobile</b>
                  </label>
                  <input [(ngModel)]="showRoomDetail.result[0].contact_number_1" type="text" class="form-control" placeholder="Mobile" >
                  <input [(ngModel)]="showRoomDetail.result[0].contact_number_2" type="text" class="form-control" placeholder="Mobile" >
  
                </div>
              </div>
            </div>
            <!--/.row-->
           
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Social Media</b>
                  </label>
                  <input [(ngModel)]="viewShop.email" type="text" class="form-control" placeholder="Social Media" >
  
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">
                    <b>Email</b>
                  </label>
                  <input [(ngModel)]="showRoomDetail.result[0].email" type="text" class="form-control" placeholder="Email" >
  
                </div>
              </div>
            </div>
            <!--/.row-->
          </div>
        </div>
        <!-- ***********************- -->
      </div>
      <!--/.col-->
      <div class="col-sm-9">
        <div class="">
          <div class="card-body">
  
            <!-- ********************** -->
  
            <div class="row row-cols-1 row-cols-md-3 g-4" style=" margin-bottom: 25px;">
  
              <!-- ********************** -->
              <div class="row" *ngIf="totalAngularPackages.result?.length > 0"> 
  
                <div *ngFor="let a of totalAngularPackages.result; let index = index" class="col-md-4">
                  <a href="http://localhost:4200/#/itemCardView?id={{totalAngularPackages.result[index].id}}">
                    <div class="card .bg-secondary" style="background:#fbf8ff; width: 80%; margin: auto; border-radius: 20px; margin-bottom: 45px;">
                      <img src={{totalAngularPackages.result[index].image_1}} class="card-img-top" alt="..." width="100" height="200" style=" border-radius: 15px 15px 0px 0px;"
                      />
                      <div class="ml-2 mt-2">
                        <h4 class="ml-0 mb-2">
                          <b>{{totalAngularPackages.result[index].name}}</b>
                        </h4>
                        <h6 class="ml-2 " style="color:gray; margin-top:2px; font-size: 16px;"> {{totalAngularPackages.result[index].showroom_name}} - {{totalAngularPackages.result[index].city_name}}
                          <i style="color:green" class="fa fa-map-marker fa-lg"></i>
                        </h6>
                        <h5 class="mt-4 ml-2 mb-3" style="color:#cc0000">
                          <b>Rs: {{totalAngularPackages.result[index].price}}</b>
                        </h5>
                      </div>
                    </div>
                  </a>
                </div>
  
              </div>
              <!-- ********************** -->
              <div class="row" *ngIf="totalAngularPackages.result?.length == 0">
                No Result
              </div>
              <!-- ********************** -->
            </div>
  
            <!-- ********************** -->
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  
  </div>